{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <form class="form-vertical" method="post" action="{{ path("send") }}" id="form">
            <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="20" name="message" id="message"></textarea>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" id="password">
            </div>
            <div class="form-group">
                <div class="radio">
                    <label><input type="radio" name="type" value="1" checked>Time Destructor</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="type" value="2">Clicker Destructor</label>
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
        <i id="link" style="display: none">
            <label>Please save this link <input id="linker" type="text" readonly class="form-control"></label>
            <br/>
            <a href=""></a>
        </i>
    </section>
{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {
            var $link = $("#link"),
                $linker = $("#linker");
            $("#form").on("submit", function () {
                var self = $(this),
                    message = CryptoJS.AES.encrypt($("#message").val(), key, {iv: iv});
                $.ajax({
                    url: self.attr("action"),
                    dataType: "json",
                    type: self.attr("method"),
                    data: {
                        "message": message.toString(),
                        "password": $("#password").val(),
                        "type": $("input[name='type']").val()
                    }
                }).done(function (response) {
                    if (response.key) {
                        $link.find("a").attr("href", "message/" + response.key).text(response.key);
                        $linker.val("{{ host }}" + "/" + $link.find("a").attr("href"));
                        $link.show();
                    }
                });
                return false;
            });
            $linker.on('click', function () {
                $(this).select();
            })
        });
    </script>
{% endblock %}
