{% extends 'base.html.twig' %}

{% block body %}
    <div class="well text-center">
        {% if(need_pass) %}
            <form action="/message/{{ hash }}" method="post" class="form-inline">
                <div class="form-group">
                    <div class="label label-warning">
                        Enter password below
                    </div>
                    <label>Password:</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">PROCEED</button>
            </form>
        {% else %}
            <h2>Your message</h2>
            <div id="result">{{ message }}</div>
        {% endif %}
    </div>
    <a href="{{ path("homepage") }}">home</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var result = $("#result");
            var js_decrypted = CryptoJS.AES.decrypt(result.text(), key, {iv: iv});
            if (result && result.text()) {
                result.text(js_decrypted.toString(CryptoJS.enc.Utf8))
            }
        })
    </script>
{% endblock %}
